<%- include('../partials/head'); %>
<%- include('../partials/navigation') %>

<div class="borderr-3 marginl-200 paddingt-20 paddingb-20 colorb-GrenAndYellow colort-white marginb-20">
    <div class="paddingl-20">
        <h1 class="text-shadow">Edit User : <%=user_data.name%></h1>
    </div>
</div>


<div class="borderr-3 marginl-200 text-center colorb-gray colort-white paddingt-20 paddingb-20">
    <form action="/spotify/edituser" method="POST">
        <div>
            <div>
                <label for="name">Name</label>
                <br />
                <br />
            </div>
            <input type="hidden" name="id" value="<%= id %>">
            <input type="hidden" name="did" value="<%=user_data.id%>">
            <input type="text" name="name" class="text-center paddingt-5 paddingb-5" maxlength="12"
                value="<%=user_data.name%>" required>
            <br />
            <br />
        </div>

        <div>
            <div>
                <label for="name">Img</label>
                <br />
                <br />
            </div>
            <input type="text" name="img" class="text-center paddingt-5 paddingb-5" value="<%=user_data.img%>" required>
            <br />
            <br />
        </div>
        <div>
            </br>
            <input type="submit" class="btn-7" value="Save">
        </div>
    </form>
</div>